dist/
build/
WebAPP/SOLVERs/GLPK
WebAPP/SOLVERs/COIN-OR
WebAPP/References/jqwidgets_14.0
WebAPP/References/jqwidgets_licenced
WebAPP/References/jqwidgets_free
WebAPP/References/wijmoFULL/
WebAPP/References/wijmoOLD/
WebAPP/References/wijmo/DistributionKey.txt
WebAPP/References/wijmo/licence.js
app.spec
requirements_py_3.9.txt