dist/
build/
API/SOLVERs/
WebAPP/SOLVERs/
WebAPP/References/jqwidgets.13.2/
WebAPP/References/wijmoFULL/
WebAPP/References/wijmoOLD/
WebAPP/References/wijmo/DistributionKey.txt
WebAPP/References/wijmo/licence.js
app.spec
requirements_py_3.9.txt