Procfile
.env
dist/
build/
venv/
venv
API/__pycache__
API/Classes/__pycache__
API/Classes/Base/__pycache__
API/Classes/Case/__pycache__
API/Routes/__pycache__

API/Routes/Upload/__pycache__
API/Routes/DataFile/__pycache__
API/Routes/Case/__pycache__

WebAPP/SOLVERs/GLPK
WebAPP/SOLVERs/COIN-OR
WebAPP/References/jqwidgets_14.0
WebAPP/References/jqwidgets_licenced
WebAPP/References/jqwidgets_free
WebAPP/References/jqwidgets/jqx-all-unlisenced.js
WebAPP/References/wijmoFULL/
WebAPP/References/wijmoOLD/
WebAPP/References/wijmo/DistributionKey.txt
WebAPP/References/wijmo/licence.js
app.spec
requirements_py_3.9.txt