<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2 class="page-title txt-color-blueDark" id="osy-title"><i class="fa-fw fa fa-home"></i> Model configuration
            <span>
                create & edit</span>
        </h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Selected model: <span class="txt-color-blue" id="osy-case"></span></h5>
            </li>
        </ul>
    </div>
</div>

<div id="row">
    <div class="col-lg-12">
        <div id="definition" style="display:none">
        </div>
    </div>
</div>




<div id="osy-caseForm">
    <div class="jarviswidget jarviswidget-noHeader" role="widget">
        <header role="heading">
            <h2></h2>
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            <button id="osy-save" class="btn btn btn-white btn-default" style="display: none;">
                <i class="fa fa-save fa-lg success"></i> Save new model
            </button>
            <button id="osy-update" class="btn btn btn-white btn-default" style="display: none;">
                <i class="fa fa-save fa-lg info"></i> Update model
            </button>
            <button id="osy-new" class="btn btn btn-white btn-default" style="display: none;">
                <i class="fa fa-plus-square fa-lg success"></i> Configure new model
            </button>
            <button type="button" class="btn btn-default" id="showLog" data-toggle="tooltip" data-placement="top"
                title="Parameters definitions">
                <i class="ace-icon fa fa-question-circle fa-lg warning "></i>
            </button>
        </header>
      
        <div role="content">
            <div class="widget-body">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tabGenData" id='GenData'> <i class="fa fa-lg fa-info-circle "></i>
                            <span class="hidden-mobile hidden-tablet">Model data</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTimeSets" id='TimeSets'> <i class="fa fa-calendar fa-lg"></i>
                            <span class="hidden-mobile hidden-tablet"> Time sets</span> 
                        </a>
                    </li>    
                    <li>
                        <a data-toggle="tab" href="#tabComms" id='Comms'> <i class="fa fa-lg fa-cube "></i>
                            <span class="hidden-mobile hidden-tablet"> Commodities
                                <span class="label bg-color-osy-second txt-color-white" id="commCount"> 23</span> 
                            </span> 
                        </a>
                    </li>
    
                    <li>
                        <a data-toggle="tab" href="#tabEmis" id='Emiss'> <i class="fa fa-lg fa-fire "></i>
                            <span class="hidden-mobile hidden-tablet"> Emissions
                                <span class="label bg-color-osy-second txt-color-white" id="emisCount"> 23</span> 
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTechGroups" id='TechGroups'> <i class="fa fa-lg fa-cogs "></i>
                            <span class="hidden-mobile hidden-tablet"> Technology groups
                                <span class="label bg-color-osy-second txt-color-white" id="techGroupCount"> 1</span> 
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabTechs" id='Techs'> <i class="fa fa-lg fa-cog"></i>
                            <span class="hidden-mobile hidden-tablet"> Technologies
                                <span class="label bg-color-osy-second txt-color-white" id="techCount"> 23</span> 
                            </span> 
                        </a>
                    </li>
                    <li>
                    <li>
                        <a data-toggle="tab" href="#tabStorage" id='Storage'> <i class="fa fa-lg fa-database"></i>
                            <span class="hidden-mobile hidden-tablet"> Storage
                                <span class="label bg-color-osy-second txt-color-white" id="stgCount"> 23</span> 
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabConstraints" id='Constraints'> <i class="fa fa-lg fa-share-alt"></i>
                            <span class="hidden-mobile hidden-tablet"> Constraints
                                <span class="label bg-color-osy-second txt-color-white" id="constraintsCount"></span> 
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tabScenarios" id='Scenarios'> <i class="fa fa-lg fa-line-chart"></i>
                            <span class="hidden-mobile hidden-tablet"> Scenarios
                                <span class="label bg-color-osy-second txt-color-white" id="scenariosCount"> 23</span> 
                            </span> 
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tabGenData">
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <div class="smart-form ">
                                <fieldset>
                                    <div class="row ">
                                        <!-- <section class="col col-4"></section> -->
                                        <section class="col col-4">
                                            <!-- <header>
												Model name
											</header> -->
                                            <label class="label">Model name</label>
                                            <label class="input">
                                                <input type="text" placeholder="Model name" class="form-control lg" name="osy-casename" id="osy-casename">
                                            </label>
                                            <div class="note">
                                                <strong>!@#$%^&*()</strong> are not allowed in model name!
                                            </div>
                                        </section>
                                    </div>
                            
                                    <div class="row ">  
                                        <!-- <section class="col col-4"></section> -->
                                        <section class="col col-2">
                                            <label class="label">Currency</label>
                                            <label class="select">
                                                
                                                <select id="osy-currency" class="input-sm" name="osy-currency"></select>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Modes of operation</label>
                                            <label class="input">
                                                <input type="text" placeholder="Modes of operation" class="input-sm" name="osy-mo" id="osy-mo" value=1>
                                            </label>
                                        </section>
                            
                                    </div>
                            
                                    <div class="row ">
                                        <!-- <section class="col col-4"></section> -->
                                        <section class="col col-4">
                                            <label class="label">Model description</label>
                                            <label class="textarea">
                                                <textarea rows="3" class="custom-scroll" name="osy-desc"
                                                    id="osy-desc"></textarea>
                                            </label>
                                            <div class="note">
                                                <strong>Note:</strong> description is not required field.
                                            </div>
                                        </section>
                                    </div>
                            
                                </fieldset>
                            </div>
                        </article>
                    </div>
                    <div class="tab-pane fade" id="tabTimeSets">
                        <hr class="simple">
                        <article class="col-lg-12" style=" margin-bottom: 20px; ">
                            <div class="tabs-left berdered">
                                <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tabYears" id='Years'> <i class="fa fa-calendar fa-lg"></i>
                                            <span class="hidden-mobile hidden-tablet"> Years</span> 
                                        </a>
                                    </li>
                                    <li >
                                        <a data-toggle="tab" href="#tabSe" id='Se'> <i class="fa fa-calendar fa-lg"></i>
                                            <span class="hidden-mobile hidden-tablet"> Seasons
                                                <span class="label bg-color-osy-second txt-color-white pull-right" id="seCount">3</span> 
                                            </span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tabDt" id='Dt'> <i class="fa fa-calendar fa-lg"></i>
                                            <span class="hidden-mobile hidden-tablet"> Day types
                                                <span class="label bg-color-osy-second txt-color-white pull-right" id="dtCount">3</span> 
                                            </span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tabDtb" id='Dtb'> <i class="fa fa-clock-o fa-lg"></i>
                                            <span class="hidden-mobile hidden-tablet"> Daily time
                                                <span class="label bg-color-osy-second txt-color-white pull-right" id="dtbCount">3</span> 
                                            </span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tabTs" id='Ts'> <i class="fa fa-lg fa-scissors "></i>
                                            <span class="hidden-mobile hidden-tablet"> Timeslices
                                                <span class="label bg-color-osy-second txt-color-white pull-right" id="tsCount"></span> 
                                            </span> 
                                        </a>
                                    </li>
                                </ul>
                         
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tabYears">
                                        <article class="col-sm-12 col-md-12 col-lg-12 well" style=" margin-bottom: 20px; margin-top: 15px;">
                                            <div class="row" style="padding: 10px; ">
                                                <button id="osy-checkAll" class="btn btn btn-white btn-default pull-right">
                                                    <i class="fa fa-calendar-check-o"></i> Check all
                                                </button>
                                                <button id="osy-uncheckAll" class="btn btn btn-white btn-default pull-right">
                                                    <i class="fa fa-calendar-check-o"></i> Uncheck all
                                                </button>
                
                                                <button id="osy-x2" class="btn btn btn-white btn-default pull-right">
                                                    <i class="fa fa-calendar-check-o"></i> X2
                                                </button>
                
                                                <button id="osy-x5" class="btn btn btn-white btn-default pull-right">
                                                    <i class="fa fa-calendar-check-o"></i> X5
                                                </button>
                                            </div>
                                            <div class="row" style="padding: 20px;">
                                                <div class="smart-form">
                                                    <section>
                                                        <input id="range-slider-1" type="text" name="osy-range" value="">
                                                    </section>
                                                    <div class="inline-group" id="osy-years"></div>
                                                    <div id="yearsselectmsg"></div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="tab-pane fade" id="tabSe">
                                        <button id="osy-addSeNumber" class="btn btn-white btn-default" ><i class="fa fa-plus fa-lg osy-green"></i>Add season</button>
                                        <button class="btn btn-white btn-default" id="deleteSeNumber" ><i class="fa fa-minus-circle fa-lg danger"></i>Delete season</button>
                                        <div id="osy-gridSe" style="margin-top: 15px;"></div>
                                    </div>
                                    <div class="tab-pane fade" id="tabDt">
                                        <button id="osy-addDtNumber" class="btn btn-white btn-default" ><i class="fa fa-plus fa-lg osy-green"></i>Add day type</button>
                                        <button class="btn btn-white btn-default" id="deleteDtNumber" ><i class="fa fa-minus-circle fa-lg danger"></i>Delete day type</button>
                                        <div id="osy-gridDt" style="margin-top: 15px;"></div>
                                    </div>
                                    <div class="tab-pane fade" id="tabDtb">
                                        <button id="osy-addDtbNumber" class="btn btn-white btn-default" ><i class="fa fa-plus fa-lg osy-green"></i>Add daily time bracket</button>
                                        <button class="btn btn-white btn-default" id="deleteDtbNumber" ><i class="fa fa-minus-circle fa-lg danger"></i>Delete daily time bracket</button>
                                        <div id="osy-gridDtb" style="margin-top: 15px;"></div>
                                    </div>
                                    <div class="tab-pane fade" id="tabTs">
                                        
                                        <div id="osy-gridTs" style="margin-top: 15px;"></div>
                                    </div>
                                    <hr class="simple">
                                </div>
                                
                            </div>
                       
                        </article>
                        <hr class="simple">
                       
                    </div>
                    <div class="tab-pane fade" id="tabComms">
                        <div id="osy-gridComm" style="margin-top: 15px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tabEmis">
                        <div id="osy-gridEmis" style="margin-top: 15px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tabTechGroups">
                        <div id="osy-gridTechGroup" style="margin-top: 15px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tabTechs">
                        <div id="osy-gridTech" style="margin-top: 15px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tabStorage">
                        <div id="osy-gridStg" style="margin-top: 15px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tabConstraints">
                        <div id="osy-gridConstraint" style="margin-top: 15px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tabScenarios">
                        <div id="osy-gridScenario" style="margin-top: 15px;"></div>
                    </div>
                </div>
                
            </div>
            <hr class="simple">
        </div>
    </div> 
</div>