<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2 class="page-title txt-color-blueDark" id="osy-title"><i class="fa-fw fa fa-home"></i> Case study <span>>
                create & edit</span></h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Selected case study: <span class="txt-color-blue" id="osy-case"></span></h5>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section>
            <div class="widget-body-toolbar-osy">
                <div class="row">
                    <div class="col-sm-6">
                        <button id="osy-save" class="btn btn btn-success">
                            Save case data <i class="fa  fa-save"></i>
                        </button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <!-- <button id="osy-discart" class="btn btn btn-danger" style="display: none;">
                            Discart changes <i class="fa fa-exclamation-triangle"></i>
                         </button> -->
                        <button id="osy-new" class="btn btn btn-info" style="display: none;">
                            Configure new case <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- <div class="col-sm-6 text-right">
                        <div class="onoffswitch-container">
                            <span class="onoffswitch-title">Auto Open Next</span> 
                            <span class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox" id="autoopen">
                                <label class="onoffswitch-label" for="autoopen"> 
                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> 
                                    <span class="onoffswitch-switch"></span>
                                </label> 
                            </span> 
                        </div>
                        <div class="onoffswitch-container">
                            <span class="onoffswitch-title">Open Inline</span> 
                            <span class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox" id="inline">
                                <label class="onoffswitch-label" for="inline"> 
                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> 
                                    <span class="onoffswitch-switch"></span>
                                </label> 
                            </span>
                        </div>	
                    </div> -->
                </div>
            </div>
        </section>
    </div>
</div>
<form id="osy-caseForm">
    <div class="row">
        <div class="col-md-4">
            <article>
                <div class="jarviswidget">
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                    General case data
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Case study name</label>
                                            <label class="input">
                                                <input type="text" placeholder="casename" name="osy-casename"
                                                    id="osy-casename">
                                            </label>
                                            <div class="note">
                                                <strong>!@#$%^&*()</strong> are not allowed in case name!
                                            </div>
                                            <label style="margin-top:7px">Select a date</label>
                                            <div class="input-group">
                                                <input type="text" name="osy-date" id="osy-date"
                                                    placeholder="Select a date" class="form-control datepicker"
                                                    data-dateformat="dd/mm/yy">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Case study description</label>
                                            <label class="textarea">
                                                <textarea rows="6" class="custom-scroll" name="osy-desc"
                                                    id="osy-desc"></textarea>
                                            </label>
                                            <div class="note">
                                                <strong>Note:</strong> description is not required field.
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="jarviswidget">
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-check-square-o"></i> </span>
                                    Define simulation years
                                    <div class="pull-right">
                                        <small class="pointer btn" id="osy-checkAll">
                                            <span class="widget-icon"> <i class="fa fa-calendar-check-o"></i> </span>
                                            Check all
                                        </small>
                                        <small class="pointer btn" id="osy-uncheckAll">
                                            <span class="widget-icon"> <i class="fa fa-calendar-check-o"></i> </span>
                                            Uncheck all
                                        </small>
                                        <small class="pointer btn" id="osy-x2">
                                            <span class="widget-icon"> <i class="fa fa-calendar-check-o"></i> </span>
                                            X2
                                        </small>
                                        <small class="pointer btn" id="osy-x5">
                                            <span class="widget-icon"> <i class="fa fa-calendar-check-o"></i> </span>
                                            X5
                                        </small>
                                    </div>
                                </header>
                                <fieldset>
                                    <section>
                                        <input id="range-slider-1" type="text" name="osy-range" value="">
                                    </section>
                                    <section>
                                        <label class="label">Inline checkboxes</label>
                                        <div class="inline-group" id="osy-years"></div>
                                        <div class="col-md-12">
                                            <div id="yearsselectmsg"></div>
                                        </div>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-8">
            <!--metrics-->
            <article class="col-md-12">
                <div class="jarviswidget">
                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-tachometer"></i> </span>
                                    Define metrics
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2">
                                            <label class="label">Currency</label>
                                            <label class="select">
                                                <select id="osy-currency" class="input-sm" name="osy-currency"></select>
                                                <i></i> </label>
                                        </section>
                                        <!-- <section class="col col-2">
                                            <label class="label">Unit</label>
                                            <label class="select">
                                                <select id="osy-unit" class="input-sm" name="osy-unit"></select>
                                                <i></i> </label>
                                        </section> -->
                                        <section class="col col-2">
                                            <label class="label">Discount rate [%]</label>
                                            <label class="input">
                                                <input type="text" placeholder="Dicount rate" class="input-sm"
                                                    name="osy-dr" id="osy-dr">
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Depreciation method</label>
                                            <label class="input">
                                                <input type="text" placeholder="Depreciation method" class="input-sm"
                                                    name="osy-dm" id="osy-dm">
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Number of seasons</label>
                                            <label class="input">
                                                <input type="text" placeholder="number of seasons" class="input-sm"
                                                    name="osy-ns" id="osy-ns">
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">Day types</label>
                                            <label class="input">
                                                <input type="text" placeholder="Depreciation method" class="input-sm"
                                                    name="osy-dt" id="osy-dt">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!--techs comms emiss-->
            <article class="col-md-12">
                <div class="jarviswidget" id="wid-id-8" data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-togglebutton="false" data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <h2></h2>
                        <ul class="nav nav-tabs pull-right in">
                            <li class="active">
                                <a data-toggle="tab" href="#tabComms" id='Comms'> <i class="fa fa-lg fa-cog danger"></i>
                                    <span class="hidden-mobile hidden-tablet"> Commodities 
                                        <span class="label bg-color-blue txt-color-white" id="commCount"> 23 </span> </span> </a>
                            </li>
                            <li >
                                <a data-toggle="tab" href="#tabTechs" id='Techs'> <i class="fa fa-lg fa-cog info"></i>
                                    <span class="hidden-mobile hidden-tablet"> Technologies 
                                        <span class="label  bg-color-blue txt-color-white" id="techCount"> 23 </span> </span> </a>               
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabEmiss" id='Emiss'> <i class="fa fa-lg fa-industry success"></i>
                                    <span class="hidden-mobile hidden-tablet"> Emissions 
                                        <span class="label  bg-color-blue txt-color-white" id="emisCount"> 23 </span> </span> </a>  
                            </li>
                            <!-- <li>
                                <a data-toggle="tab" href="#tabUnits" id='Units'> <i class="fa fa-lg fa-arrow-circle-o-down"></i>
                                    <span class="hidden-mobile hidden-tablet"> Units </span> </a>
                            </li> -->
                        </ul>
                    </header>
                    <!-- widget div-->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="tab-content">
                            <div class="tab-pane " id="tabTechs">
                                <div class="jarviswidget">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="smart-form">
                                                <header>
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    Define technologies
                                                    <div class="pull-right">
                                                        <small class="pointer btn" id="osy-addTech">
                                                            <span class="widget-icon"> <i class="fa fa-plus"></i>
                                                            </span>
                                                            Add technology
                                                        </small>
                                                    </div>
                                                    
                                                </header>
                                                <!-- <div style="padding:10px">
                                                    <div class="col-md-6">
                                                        <small>IAR - Input Activity Ratio</small><br>
                                                        <small>OAR - Output Activity Ratio</small><br>
                                                        <small>TMPAL - Total Technology Model Period Activity Lower Limit</small><br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>TMPAU - Total Technology Model Period Activity Upper Limit</small><br>
                                                        <small>CAU - Capacity To Activity Unit </small><br>
                                                        <small>OL - Operational Life</small><br>
                                                    </div>
                                                </div> -->


                                                <fieldset style="padding-top:0px">
                                                    <section>
                                                        <div id="osy-gridTech"></div>
                                                    </section>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane active" id="tabComms">
                                <div class="jarviswidget">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="smart-form">
                                                <header>
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    Define commodities
                                                    <div class="pull-right">
                                                        <small class="pointer btn" id="osy-addComm">
                                                            <span class="widget-icon"> <i class="fa fa-plus"></i>
                                                            </span>
                                                            Add commodity
                                                        </small>
                                                    </div>
                                                </header>
                                                <fieldset>
                                                    <section>
                                                        <div id="osy-gridComm"></div>
                                                    </section>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabEmiss">
                                <div class="jarviswidget">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="smart-form">
                                                <header>
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    Define emissions
                                                    <div class="pull-right">
                                                        <small class="pointer btn" id="osy-addEmis">
                                                            <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                                                            Add emission
                                                        </small>
                                                    </div>
                                                </header>
                                                <fieldset>
                                                    <section>
                                                        <div id="osy-gridEmis"></div>
                                                    </section>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabUnits">
                                <div class="jarviswidget">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="smart-form">
                                                <header>
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    Define units
                                                    <div class="pull-right">
                                                        <small class="pointer btn" id="osy-addUnit">
                                                            <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                                                            Add unit
                                                        </small>
                                                    </div>
                                                </header>
                                                <fieldset>
                                                    <section>
                                                        <div id="osy-UnitsGrid"></div>
                                                    </section>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</form>








