<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2 class="page-title txt-color-blueDark" id="osy-title"><i class="fa-fw fa fa-home"></i> Data File <span>>
                create & edit</span></h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Selected case study: <span class="txt-color-blue" id="osy-case"></span></h5>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section>
            <div class="widget-body-toolbar-osy">
                <div class="row">
                    <div class="col-sm-6">
                        <button id="osy-generateDataFile" class="btn btn btn-info">
                            Generate Data File <i class="fa fa-cogs icon-2x"></i>
                        </button>
                        <a id="osy-downloadDataFile" class="btn btn btn-default" style="display: none;" href="downloadDataFile"> Download Data File <i class="fa fa-download"></i></a> 
                        <!-- <button id="osy-downloadDataFile" class="btn btn btn-default" style="display: none;">
                             Download Data File <i class="fa fa-download"></i>
                        </button> -->
                        <button id="osy-run" class="btn btn btn-danger" style="display: none;">
                            RUN MODEL <i class="fa fa-calculator"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="jarviswidget" id="runOutput" style="display: none;">   
	<div style="background-color: black!important; color: white;">
		<div class="widget-body no-padding-bottom">
			<fieldset>
                <section style="background-color: black!important; color: white;">
                    <div id="osy-runOutput"></div>
				</section>
            </fieldset>
		</div>
	</div>         
</div>

<!-- 002082 -->
<div class="jarviswidget" id="DataFile" style="display: none;">   
	<div style="background-color: #3a3f51!important; color: white;">
		<div class="widget-body no-padding-bottom" >
            <fieldset>
				<section style="overflow-x: scroll;">
                    <div id="osy-DataFile" ></div>
				</section>
			</fieldset>
		</div>
	</div>         
</div>








