<div  class="navbar-brand else">
	<i class="fa fa-cubes bigger-150 "></i><span style="font-weight: bold;">   OSeMOSYS <sub>ver.1.0</sub></span><br>
	<!-- <span style="font-size:10px; margin-top:0px" class="hidden-xs "><i>Electricity Simulation Environment ver.1.0</i></span> -->
</div>
<!-- #PROJECTS: projects dropdown -->
<div class="project-context hidden-xs">
	<span class="label">Cases:</span>
	<span class="project-selector dropdown-toggle" data-toggle="dropdown">Select case <i class="fa fa-angle-down"></i></span>
	<ul class="dropdown-menu" id="casePicker">
	</ul>
</div>

<!-- #TOGGLE LAYOUT BUTTONS -->
<!-- pulled right: nav area -->
<div class="pull-right">
	<!-- collapse menu button -->
	<div id="hide-menu" class="btn-header pull-right">
		<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
	</div>
	<!-- fullscreen button -->
	<div id="fullscreen" class="btn-header transparent pull-right">
		<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
	</div>
</div>