
<nav>
  <ul id="Navi">
      <li class="active">
          <a href="#/" title="Home page"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
      </li>
      <li class="">
          <a href="#/AddCase" title="Add/edit case"><i class="fa fa-lg fa-fw fa-plus-circle"></i> <span class="menu-item-parent">Add case</span></a>
      </li>

      <li>
          <a href="#" title="Data entry"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Data entry</span></a>
          <ul  id='dynamicRoutes'>

          </ul>
      </li>
</nav> 

<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>