<nav>
    <ul id="Navi">
        <li class="active">
            <a href="#/" title="Home page"><i class="fa fa-lg fa-fw fa-home"></i> <span
                    class="menu-item-parent">Home</span></a>
        </li>
        <li class="">
            <a href="#/Config" title="Configure parameters"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span
                    class="menu-item-parent">Parameters</span></a>
        </li>
        <li class="">
            <a href="#/AddCase" title="Add/configure model"><i class="fa fa-lg fa-fw fa-cogs"></i> <span
                    class="menu-item-parent">Configure model</span></a>
        </li>

        <li class='dynamicRoutesLink' style="display: none;">
            <a href="#" title="Data entry"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Data
                    entry</span></a>
            <ul id='dynamicRoutes'></ul>
        </li>
        <li class='dynamicRoutesRES' style="display: none;">
            <a href="#RESViewer" title="RES viewer"><i class="fa fa-lg fa-fw fa-connectdevelop"></i> <span class="menu-item-parent">RES viewer</span></a>
        </li>
        <li class='dynamicRoutesLink' style="display: none;">
            <a href="#/ViewData" title="Add case"><i class="fa fa-lg fa-fw  fa-search-plus"></i> <span
                    class="menu-item-parent">View data</span></a>
        </li>
        <li class='dynamicRoutesLink' style="display: none;">
            <a href="#/DataFile" title="Run"><i class="fa fa-lg fa-fw fa-play danger"></i> <span
                    class="menu-item-parent">Run</span></a>
        </li>
        <li class='dynamicResults' style="display: none;">
            <a href="#" title="Results"><i class="fa fa-lg fa-fw fa-tachometer  "></i> <span
                    class="menu-item-parent">Results</span></a>
            <ul id='dynamicResultsRoutes'></ul>
        </li>
        <li class='dynamicResults' style="display: none;">
            <a href="#/PivotWijmo" title="Pivot"><i class="fa fa-lg fa-fw fa-table "></i> <span
                    class="menu-item-parent">Pivot</span></a>
        </li>
        <!-- <li class='dynamicResults' style="display: none;">
            <a href="#/Pivot" title="Pivot"><i class="fa fa-lg fa-fw fa-table "></i> <span
                    class="menu-item-parent">Pivot</span></a>
        </li>
        <li class='dynamicResults' style="display: none;">
            <a href="#/PivotCharts" title="Charts"><i class="fa fa-lg fa-fw fa-line-chart "></i> <span
                    class="menu-item-parent">Charts</span></a>
        </li> -->

    </ul>
</nav>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>