<h3>OSEMOSYS ver.4.7.0, <small>20230801 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#c74219">Code</kbd>&nbsp;New preprocessing and postprocessing scripts</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Report form has been improved serach option for variables, view handling for all variables</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Improved dynamic model diagram visualization</li>
    <li><kbd style="font-weight: bold; background-color:#CB6FD7">Disp</kbd>&nbsp;New color scheme for pivot chart</li>
</ol>

<h3>OSEMOSYS ver.4.6.0, <small>20230801 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#c74219">Func</kbd>&nbsp;Default values are not written to data file</li>
    <li><kbd style="font-weight: bold; background-color:#c74219">Func</kbd>&nbsp;Import of excel template reads Discount rate</li>
</ol>

<h3>OSEMOSYS ver.4.5.0, <small>20230515 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#c74219">Func</kbd>&nbsp;Technical system requirements, upgraded pip packages, python 3.11</li>
    <li><kbd style="font-weight: bold; background-color:#c74219">Func</kbd>&nbsp;CBC solver upgraded to version 2.10. x64</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Message on optimality and feasibility from CBC</li>
</ol>

<h3>OSEMOSYS ver.4.4.0, <small>20230118 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Emission To Activity Change Ratio parameter added</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Emission By Activity Change variable added</li>
    <li><kbd style="font-weight: bold; background-color:#c74219">Code</kbd>&nbsp;Model file updated to produce results for new paramter and variable, it also incorporates the change to straight line depreciation</li>
</ol>

<h3>OSEMOSYS ver.4.3.0, <small>20230118 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#c74219">Code</kbd>&nbsp;Import facility implemented for model structure and data</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Import of legacy osemosys models throught xls template</li>
</ol>

<h3>OSEMOSYS ver.4.2.0, <small>20221030 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#c74219">Code</kbd>&nbsp;Scenario in case run bug fix</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Description of case runs bug fix</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Deletion of scenarios propagated through caseruns</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Deletion of used scenarios disabled with notification</li>
</ol>

<h3>OSEMOSYS ver.4.1.0, <small>20221030 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#c74219">Code</kbd>&nbsp;Jqx wigets updated to version 14.0.0</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;New scenario menagement in input forms </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Descriptions of technologies, commodities and tech groups addet to pivot </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;White spaces removed in tech, comm, emi, scenario names</li>
</ol>

<h3>OSEMOSYS ver.4.0.0, <small>20221030 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Preprocessing script included</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Performance of input forms and user expirience enhacement </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Technology groups implemented </li>
</ol>

<h3>OSEMOSYS ver.3.3.0, <small>20220523 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Full backup archive, results included</li>
</ol>

<h3>OSEMOSYS ver.3.2.0, <small>20220516 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;CBC solver Cbc-2.7.5-win64-intel11.1</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Different default decimal places</li>
</ol>

<h3>OSEMOSYS ver.3.1.0, <small>20220425 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Pivot grid n3 n4 decimal places added</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Default view of pivot data by years </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;two types of model diagram added</li>
</ol>
<h3>OSEMOSYS ver.3.0.0, <small>20220331 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Units field for pivot</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;RES viewer of input and outpu activity visualisation </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Charts rendering of pivot view </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;User defined view of pivot data saving </li>
</ol>
<h3>OSEMOSYS ver.2.1.0, <small>20220310 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Pvot grid for results analysis implemented</li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Json files encoding utf-8 bug fixed </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Backup pnly necessary files </li>
</ol>
<h3>OSEMOSYS ver.2.0.0, <small>20220125 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Run case module added </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Visualisation of csv files </li>
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Copy/paste values larger then 999 with comma separation is fixed </li>
</ol>
<h3>OSEMOSYS ver.1.2.0, <small>20211201 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Restore model size 1GB </li>
</ol>
<h3>OSEMOSYS ver.1.1.0, <small>20211201 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Drop down list navigation in RYT group parameters fixed </li>
    <li><kbd style="font-weight: bold; background-color:#CB6FD7">Disp</kbd>&nbsp;Code versioning html page added</li>
</ol>
<h3>OSEMOSYS ver.1.0.0, <small>20211015 release</small></h3>
<ol style="font-style: italic; font-weight: normal;">
    <li><kbd style="font-weight: bold; background-color:#6FB3E0">Func</kbd>&nbsp;Initial OSEMOSYS UI release </li>
</ol>
